.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
/data/upload/oksm.xls
/data/prices/
/data/DoctrineORMModule/Proxy/
/data/log/
/data/settings/
/data/ann/
/config/autoload/local-development.php
/nbproject/private/
/data/token/
/data/image/
/data/statements/