.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
/data/upload/oksm.xls
/data/prices/
/data/log/
/data/settings/
/data/ann/
/config/autoload/local-development.php
/nbproject/private/
/data/token/
/data/image/
/data/statements/
/data/session/
/data/images/
/public/img/
/data/dict/
/data/cross/
/data/session_09/
/public/js/
/data/market/
/nbproject/
/data/DoctrineORMModule/Proxy/
/config/development.config.dist.php
/data/bills/
/data/template/vtp/
/data/template/.~lock.torg-2.xls#
/data/template/.~lock.upd.xls#
/bower_components/
/bower.json
/data/template/order/
/data/template/.~lock.torg12.xls#
/config/autoload/bankapi.local._server.php
/data/reports/
/config/autoload/global-development.php
/data/DoctrineORMModule/
/data/session_10/
/public/doc/
/data/tmp/
/node_modules/
/data/session1/
