<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="/css/docs.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[ПредставлениеДокумента]</title>
</head>
  <style>
   @media print {
    .more {
     page-break-after: auto;
	 page-break-before: auto;
    } 
   } 
  </style>
<body style="font:Arial; font-size:12px">
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="400" align="left" valign="top">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="110"><img src="/img/logo.png" width="108" height="63" /></td>
    <td align="center"><p style="margin-bottom: 5px"><span  style="font-size:22px"><strong>Автозапчасти для иномарок</strong></span></p>
    <p style="margin-bottom: 5px"><span style="font-size:16px; font-weight:bold">[ТелефонОфиса]</span><br />
     info@autopartslist.ru </p></td>
  </tr>
</table>
    <hr />
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="p03 ta_l va_t" width="50%"><span class="fw_b fs13 td_u">Продавец</span><br />
[Продавец]<br />
ИНН [ИНН]<br />
ОГРН [ОГРН] <br />
[ФактическийАдрес]</td>
        <td class="p03 ta_l va_t" width="50%"><span class="fw_b fs13 td_u">Покупатель</span><br />
ФИО: [Покупатель] <br />
Телефон: [Телефон]<br />
Адрес: [АдресДоставки]</td>
      </tr>
    </table>
	<!--
	<div style="font-size: xx-small; color: red" width="100%" align="center">[ТребуетсяЧек]</div>	
	-->
      <span class="fs20">
        [ПредставлениеДокумента]</span>
    <table width="100%" border="1" cellspacing="0" cellpadding="3" class="more">
      <tr>
        <td class="ta_c fw_b fs12 p02">№</td>
        <td class="ta_c fw_b fs12 p02">Артикул</td>
        <td class="ta_c fw_b fs12 p02">Производ.</td>
        <td class="ta_c fw_b fs12 p02">Товар</td>
        <td colspan="2" class="ta_c fw_b fs12 p02">Кол-во</td>
        <td class="ta_c fw_b fs12 p02">Цена</td>
        <td class="ta_c fw_b fs12 p02">Сумма</td>
      </tr>
	  <tabparts>
      <tr>
        <td class="ta_c p02" align="left">[НомерСтроки]</td>
        <td class="ta_c p02">[Артикул]</td>
        <td class="ta_c p02">[Производитель]</td>
        <td class="ta_l p02">[Наименование]</td>
        <td class="ta_r p02" align="left"><nobr>[Количество]</nobr></td>
        <td class="ta_l p02"><nobr>[ЕИ]</nobr></td>
        <td class="ta_c p02" align="left"><nobr>[Цена]</nobr></td>
        <td class="ta_c p02" align="left"><nobr>[Сумма]</nobr></td>
      </tr>
	  </tabparts>
      <tr>
        <td colspan="8" class="ta_r p03 fw_b fs11">Итого: [Всего]</td>
        </tr>
</table>
    <p>Всего наименований [ИтогоКоличество], на сумму [Всего] руб. Предоплата/взаимозачет [Предоплата] руб. К оплате [КОплате] руб.</p>
    <p>Отпустил ______________________________</p>
    <table width="700" border="0" cellspacing="0" cellpadding="0" class="more">
      <tr>
        <td class="fs09"><p align="center"> <span class="fw_b fs11">Положение &quot;О возврате и гарантии&quot;:</span></p>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="p03 ta_l va_t lh_10" width="50%"><p style="margin-bottom:2px"><strong>1. Возврат товара надлежащего качества</strong></p>
                <p style="margin-bottom: 2px; border:#000000 2px dotted; padding:2px"><strong>1.1</strong> <strong class="fs11">ОБЯЗАТЕЛЬНО!!! ПЕРЕД УСТАНОВКОЙ НА АВТОМОБИЛЬ, ВИЗУАЛЬНО СРАВНИТЬ НОВЫЕ ЗАПЧАСТИ С ЗАМЕНЯЕМЫМИ</strong> - возврат Товара надлежащего качества возможен если возвращаемый Товар не был в употреблении, сохранены его товарный вид, потребительские свойства, а также, не нарушена и сохранена в чистом виде упаковка Товара. При нарушенной, загрязненной или отсутствующей упаковке, или иных случаях «нетоварного» вида Товара - возврат Товара надлежащего качества не возможен (Статья 25 закона РФ "О защите прав потребителей"). <strong>Срок возврата Товара надлежащего качества устанавливается действующим законодательством РФ (14 дней)</strong>.</p>
                <p style="margin-bottom: 2px"><strong>1.2</strong> Возврат Товара надлежащего качества осуществляется только в  случае если приобретенный у Продавца Товар по каким либо причинам не подошел на  автомобиль Покупателя  и обмен на другой Товар,  в течении 3-х дней после выставления претензии на соответствие Товара автомобилю,  не представляется возможным.</p>
                <p style="margin-bottom: 2px; border:#000000 2px dotted; padding:2px"><strong>1.3</strong> Покупатель проверяет Товар при получении с целью выявления возможных механических повреждений, полноты комплектности и ассортимента. <strong>Продавец не принимает претензии по внешним недостаткам Товара, его количественного и ассортиментного несоответствия после приемки Товара Покупателем и проставления последним подписи в соответствующем пункте данного Положения.</strong> Отсутствие подписанных Покупателем документов, свидетельствующих об отсутствии претензий Покупателя к Товару, не лишает Продавца права ссылаться на иные средства доказывания подтверждения продажи Покупателю Товара надлежащего качества и в необходимом Покупателю количестве.</p>
<p style="margin-bottom: 2px"><strong>1.4</strong> В  случае самостоятельного подбора Товара Покупателем и отказа от проверки Продавцом правильности  подбора Товара, согласно исходным данным транспортного средства, для которого  Товар приобретается Продавец  освобождается от ответственности за применимость Товара автомобилю Покупателя,  обязательства Продавца считаются  надлежаще исполненными, Товар не подлежит обмену и возврату, либо возврат осуществляется согласно пункту 1.5 (за исключением  гарантийных случаев).</p>
<p style="margin-bottom: 2px"><strong>1.5 </strong>При возврате Товара неоригинальной категории в случаях попадающих под пункт 1.4, а также при возврате Товара по причине «не понадобился» и т.п., возврат осуществляется в соответствии с законодательством РФ (в некоторых случаях Продавец вправе удержать часть суммы возвращаемого Товара для компенсации расходов на подбор и доставку Товара со склада).</p>
                </td>
              <td class="p03 ta_l va_t lh_10" width="50%"><p style="margin-bottom: 2px">
              <strong>1.6</strong> Возврату не подлежат:<br />
                  - электрические  запасные части<br />
                  - масла и спецжидкости<br />
              - Товар  неоригинальной категории (<em>Товар, изготовленный производителем, не являющимся производителем автотранспортного средства, что подтверждается соответствующей упаковкой и указанным на ней каталожным номером Товара</em>) отличающияся цветом, химическим составом материала или  имеющий несущественные технологические отличия от аналогичного товара  оригинальной категории, при этом Товар является Товаром надлежащего качества и подходит на автомобиль Покупателя<br />
- Товар  оригинальной категории попадающий под пункт 1.4</p>  
                <p style="margin-bottom: 2px"><strong>2. Гарантийные обязательства</strong></p>
                <p style="margin-bottom: 2px"><strong>2.1</strong> Гарантия устанавливается только при условии установки Товара на транспортное средство на станции технического обслуживания (<em>под станцией технического обслуживания, понимается юридическое лицо либо индивидуальный предприниматель, осуществляющие свою деятельность в рамках норм законодательства РФ</em>). Гарантийный срок составляет 14 дней.</p>
                <p style="margin-bottom: 2px"><strong>2.2</strong> В случае если производителем Товара установлен более длительный гарантийный срок, то гарантийные сроки соответствуют установленным производителем Товара на территории Российской Федерации. При этом применяются условия гарантии, установленные соответствующим производителем. </p>
                <p style="margin-bottom: 2px"><strong>2.3</strong> Гарантийный срок исчисляется с момента получения Товара Покупателем.</p>
                <p style="margin-bottom: 2px"><strong>2.4</strong> <strong>НА ВСЕ ТОВАРЫ ДЕЙСТВУЮТ УСЛОВИЯ ГАРАНТИИ ОТ ПРОИЗВОДИТЕЛЕЙ</strong>, в том числе следующие требования - при предъявлении Продавцу претензий относительно качества Товара, для дальнейшего проведения производителем проверки качества Товара, Покупателю необходимо предоставить Продавцу:<br />
                  a) Заказ-наряд на установку Товара на транспортное средство, выписанный СТО или соответствующим официальным дилером.<br />
                  b) Сертификат соответствия (если обязателен) Сервиса на проведение данного вида работ (копия, заверенная печатью СТО).
                  <br />
                  c) Заключение Сервиса о причинах неработоспособности Товара, выполненное на фирменном бланке, заверенное печатью и подписями сотрудников СТО.
                  <br />
                  <strong>ВНИМАНИЕ! ПРИ ОТСУТСТВИИ указанных выше документов оформленных должным образом претензии по качеству товара НЕ ПРИНИМАЮТСЯ!</strong><br />
                  <br />
                  <strong>Обмен/возврат  Товара ОСУЩЕСТВЛЯЕТСЯ ПО БУДНЯМ с 10 до 18 часов в офисе Продавца.</strong><br />
                </p></td>
            </tr>
          </table>
          </td>
        </tr>
    </table>
    <hr /><br />
</td>
  </tr>
</table>
    </td>
  </tr>
  <tr>
    <td height="150" align="left" valign="top">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="more">
      <tr>
        <td><p>
          <strong>С УСЛОВИЯМИ ПОЛОЖЕНИЯ &quot;О ВОЗВРАТЕ и ГАРАНТИИ&quot; СОГЛАСЕН</strong></p>
          <p>Товар получен, осмотрен, механических и внешних повреждений нет</p></td>
        <td class="ta_c">
          <p>&nbsp;</p>
          <p>_______________________<br />
          Подпись</p></td>
      </tr>
    </table>
	<shipparts>
    Я осведомлен о том, что услуга доставки оплачивается отдельно и не возмещается в случае обмена/возврата Товара Продавцу.
          <br /><br />
    <hr />
    <p class="fs13 fw_b">Информация экспедитору: Доставка</p>
    <p><strong>ФИО, телефон:</strong> <span class="fs15">[Покупатель], [Телефон]</span><br />
    <strong>Адрес: </strong><span class="fs15">[АдресДоставки]</span><br />
    <strong>Примечания: </strong><span class="fs15">[КомментарийКЗаказу]</span></p></td>
	</shipparts>
  </tr>
</table>
</body>
</html>